/* Default color scheme for freeman.blue */

body      { background-color: #9dc4f6; }
section   { background-color: #9dc4f6; }
#header-background
          { background-color: #9dc4f6; }
.header   { background-color: #f6f9fe; }
.header section
          { background-color: inherit; }
#backing  { background-color: #e3eefc; }
.icon     { background-color: #f6f9fe; }
article.links
          { background-color: white;   }

.logo     { background-color: #0d4e9e; }
.pointers { background-color: #9dc4f6; }
.postcard { background-color: #c2daf9;
            border-color:     #9dc4f6; }
.matting  { background-color: #f6f9fe;
            border-color:     #f6f9fe; }
.stamp {}
.button   { background-color: #f6f9fe;
            border-color:     #f6f9fe; }
a:hover.button
          { background-color: #ffffff;
            border-color:     #e7f0fd; }
.linkthis { color:            #ffffff; }
a:hover.linkthis
          { color:            #1263ca; }


