/**  screen.css: Screen Styles  **/
/****  Use border-box model for layout  ****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/****  Typography/fonts  ****/
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  700;
  font-size:    1.625em;
  line-height:  1.500em;
  margin-bottom:  0.250em;
  margin-left:    0.250em;
}
h1 + h1 {
  margin-top:  -0.4375em;
  margin-left:  0.5625em;
  font-size:    1.3125em;
  font-style:   italic;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   normal;
  font-weight:  700;
  font-size:    1.250em;
  line-height:  1.250;
  margin:       0.9375em 0 0.750em 0;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   italic;
  font-weight:  700;
  font-size:    1.125em;
  line-height:  1.250;
}

h4, h5, h6, b, strong, caption {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
}
p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
  font-size:    1.0625em;
  line-height:  1.250em;
}
/**************************************[  default layout  ]**/
article {
  width: 100%;
}

section {
    border-radius: 0.125em;
    width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.roll-up {
  padding: 0.375em 2.875em;
}

.pointers {                  /** TOC article **/
  padding-top: 2.625em;
}

.postcard {                  /* Item in TOC **/
  margin:     0.25em 1.00% 0.25em 5.25%;
  padding:    4%  1%  1%  4%;
  max-width:  50em;
}

.stamp {                     /** Icon links to other pages on this site **/
  margin-bottom: 0.0625em;
  margin-right:  0.7500em;
  margin-top:  -5%;
  margin-left: -6%;
  width:     13.625%;        /** For browsers w/o “vw” units **/
  width:     12.75vw;        /** Supplants percentage-units style in supported browsers **/
  max-width: 6em;
  overflow:  visible;
  display:   inline-block;
  float:     left;
}

.button {
  display:       block;
  border-style:  solid;
  border-radius: 0.1875em;
  border-width:  0.2500em;
  border-width:  0.3750vw;
  padding:       0.3125em;
  padding:       0.4375vw;
}

.button img {
  display: block;
}

.prose {
  display: inline;
}

.matting {
  display:   block;
  width:     100%;
  height:    100%;
  max-width: 96%;
  padding:   1% 2% 0 2%;
  border-radius: 0.125em 0.875em 0.125em 0.875em;
  border-width:  0.250em;
  border-style:  solid;
}

.linkthis {                  /** Machine translatable “Read more”-esque icon **/
  display: inline;
  float: right;
}

.readthis {                  /** Machine translatable “Read more”-esque icon **/
  margin: -0.125em 0;
  display: inline;
  float: right;
  color: inherit;
  font-size: 1.0625em;
  background-image: url("gfx/arrow-filled.svg");
  background-size: 100% 100%;
  padding: 0.5625em 1.125em 0.5625em 0.125em;
}

.finders {                   /** “Find me on…” article **/
  background-color: #99c3f7;
  margin:     0.25em 1.00% 0.25em 5.25%;
  padding:    4% 1% 1% 4%;
  max-width:  50em;
}

.superpost {                 /** wrapper for postmarks **/
  width:      100%;
  max-width:  24em;
  overflow: visible;
}

.postbox {                   /** wrapper for postmarks; corrects for negative margins **/
  width:      100%;
  max-width:  24em;
  margin: 0 -12.5% 0 12.5%;
}

.postmark {                  /** Icon links to other sites **/
  background-image: url("gfx/postback.svg");
  background-size:  100% 100%;
  background-color: transparent;
  float:        left;
  width:        41.6875%;
  margin-left:  -12.5%;
  padding:      8.125%;
}

.finders h3 {
  display: block;
  margin-left: -20.625%;     /* .postmark = -12.5% --> (-12.5% - 8.125%) = -20.625% */
}

.postmark .button {          /** differences from the other ‘buttons’ **/
  display:  inline-block;
  position: relative;
  bottom:   15%;
  text-align: center;
}

.postmark .button img {
  display: inline-block;
  width:   100%;
  height:  auto;
}

.postmark .button img.snood {     /** adjust size of reddit icon **/
  width:  59.375%;
  height: auto;
}

.postmark .button img.octocat {   /** adjust size of GitHub icon **/
  width:  82.4125%;
  height: auto;
}


/********************************[ screen < 16 em (256px) ]**/
@media all and (max-width: 16em) {
}

/********************************[ screen > 25 em (400px) ]**/
@media all and (min-width: 25em) {
}

/********************************[ screen > 40 em (640px) ]**/
@media all and (min-width: 40em) {
}

/********************************[ screen > 60 em (960px) ]**/
@media all and (min-width: 56em) {
}




