/**  screen.css: Screen Styles  **/
/****  Use border-box model for layout  ****/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/****  Typography/fonts  ****/
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  700;
  font-size:    1.625em;
  line-height:  1.500em;
  margin-bottom:  0.250em;
  margin-left:    0.250em;
}
h1 + h1 {
  margin-top:  -0.4375em;
  margin-left:  0.5625em;
  font-size:    1.3125em;
  font-style:   italic;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   normal;
  font-weight:  700;
  font-size:    1.250em;
  line-height:  1.250;
  margin:       0.9375em 0 0.750em 0;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   italic;
  font-weight:  700;
  font-size:    1.125em;
  line-height:  1.250;
}

h4, h5, h6, b, strong, caption {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
}
p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
  font-size:    1.0625em;
  line-height:  1.250em;
}
/**************************************[  default layout  ]**/
main {
  max-width:  72em;
}
article {}
section {
    border-radius: 0.125em;
}
img {
  max-width: 100%;
  height: auto;
}
.headline {
  width: 100%;
  width: 100vw;
/**
  padding-top: 1.6875em;
  padding-top: 2.6250vw;
 **/
}
.button {
  display:       block;
  border-style:  solid;
  border-radius: 0.1875em;
  border-width:  0.2500em;
  border-width:  0.3750vw;
  padding:       0.3125em;
  padding:       0.4375vw;
}
.button img {
  display: block;
}

.roll-up {
  padding: 0.375em 2.875em;
}

.pointers {                  /** TOC article **/
  padding-top:  4.3750%;
  max-width:   44.8125em;
  float:       left;
}
.postcard {                  /* Items in TOC **/
  background-image:   url("gfx/hashmoback.svg");
  background-size:    35em, contain;
  background-origin:  border-box;
  background-attachment: fixed;
  /* margin:     0.25em 1.00% 0.25em 5.25%; */
  /* padding:    4%  1%  1%  4%; */
  margin:   0;
  padding:  0;
  border-style:  solid;
  border-width: 2em;
  border-radius: 2.125em 2.875em;
}
.stamp {                     /** Icon links to other pages on this site **/
  margin-bottom: 0.0625em;
  margin-right:  0.7500em;
  margin-top:  -5%;
  margin-left: -6%;
  width:     13.625%;        /** For browsers w/o “vw” units **/
  width:     12.75vw;        /** Supplants percentage-units style in supported browsers **/
  max-width: 6em;
  overflow:  visible;
  display:   inline-block;
  float:     left;
}
.prose {
  display: inline;
}
.back-matt{
  background-image:   url("gfx/hashback.svg");
  background-size:    40em, contain;
  background-origin:  border-box;
  background-attachment: scroll;
  display:  block;
  width:    100%;
  height:   100%;
  margin:   0;
  padding:  0.0625% 0 0.625% 0;
  border-radius: 0.125em 0.875em 0.125em 0.875em;
}
.matting {
  display:   block;
  width:     100%;
  height:    100%;
  max-width: 96%;
  padding:   1% 2% 0 2%;
  margin:    2.875% 0 0.375% 2.875%;
  border-radius: 0.125em 0.875em 0.125em 0.875em;
  border-width:  0.250em;
  border-style:  solid;
}
.linkthis {                  /** Machine translatable “Read more”-esque icon **/
  display: inline;
  float: right;
}
.readthis {                  /** Machine translatable “Read more”-esque icon **/
  margin: -0.125em 0;
  display: inline;
  float: right;
  color: inherit;
  font-size: 1.0625em;
  background-image: url("gfx/arrow-filled.svg");
  background-size: 100% 100%;
  padding: 0.5625em 1.125em 0.5625em 0.125em;
}

.finders {                   /** “Find me on…” article **/
  background-color: #99c3f7;
  margin:     0.25em 1.00% 0.25em 5.25%;
  padding:    4% 1% 1% 4%;
  max-width:  44.8125em;
}
.postbox {                   /** wrapper for postmarks; corrects for negative margins **/
  width:      100%;
  max-width:  24em;
  overflow:   visible;
}
.postmark {                  /** Icon links to other sites **/
  background-image: url("gfx/postback.svg");
  background-size:  100% auto;
  background-color: transparent;
  float:        left;
  width:        41.6875%;
  padding:      8.125%;
}
.postmark + .postmark {
  margin-left:  -12.5625%;  /**  0.0625 over-size ; 0.0625/2 = 0.03125         **/
                            /**  Safari does math badly: 12.53125 doesn't work **/
}

.finders h3 {
  display: block;
  margin-left: -5.125%;      /** -8.125% (.postmark) + 3% (.stamp) = -5.125% **/
}
.postmark .button {          /** differences from the other ‘buttons’ **/
  display:  inline-block;
  position: relative;
  bottom:   15%;
  text-align: center;
}
.postmark .button img {
  display: inline-block;
  width:   100%;
  height:  auto;
}
.postmark .button img.snood {     /** adjust size of reddit icon **/
  width:  59.375%;
  height: auto;
}
.postmark .button img.octocat {   /** adjust size of GitHub icon **/
  width:  82.4125%;
  height: auto;
}

/********************************[ Fancy page valance     ]**/
.static-logo  {          /** Smallest, always-visible logo **/
  display:    block;
  position:   fixed;
  top:        0;
  left:       0;
  width:      100%;
  width:      100vw;
  height:     1.6875em;
  height:     2.625vw;
  min-height: 1.625em;
  padding:    0.375%;
  z-index:    10;
}
.static-logo img {
  height:     100%;
}
.big-logo img {
  height:     100%;
  min-height: 1.875em;
}
.big-backer {
  top:      0;
  left:     0;
  z-index: -10;
  min-height:   4.625em;
}
.big-logo  {                      /** Scrolls with article **/
  background-image: url("gfx/logo-fade-back.svg");
  background-size:  auto 100%;
  display:      block;
  position:     relative;    /** This impacts z-index, confusingly enough **/
  z-index:      11;
  width:        100%;
  height:       5.0625em;
  height:       7.875vw;
  min-height:   4.625em;
  padding:      0.75%;
  padding:      1.625em 0.75% 1.625em 0.75%;
}

/********************************[ flashy background      ]**/


#back-hack {
  background-image:   url("gfx/hashback.svg");
  background-size:    25% auto, contain;
  background-origin:  border-box;
  background-attachment: fixed;
  display:    block;
  position:   relative;
  width:      100%;
  height:     100%;
  z-index:    0;
}


/********************************[ screen < 16 em (256px) ]**/
@media all and (max-width: 16em) {
}

/********************************[ screen > 25 em (400px) ]**/
@media all and (min-width: 25em) {
}

/********************************[ screen > 40 em (640px) ]**/
@media all and (min-width: 40em) {
}

/********************************[ screen > 60 em (960px) ]**/
@media all and (min-width: 60em) {
  .finders {                   /** “Find me on…” article **/
    float:      right;
    width:      20%;
    margin:     0 2.50% 0 2.8125%;
    padding:    5.375% 0 0 0;
  }
  .postbox {
    max-width:  10em;
  }
  .postmark {
    width:       100%;
    padding:     20%;
  }
  .postmark + .postmark {
    margin-left: 0;
    margin-top: -30%;
  }

}






