/*****  screen.css: Screen Styles  *****/
html {
  box-sizing: border-box;
  background-color: #7160a2;
  height: auto;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Typography, color, etc. */
h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  700;
  font-size:    1.625em;
  line-height:  1.500em;
  margin-bottom:  0.250em;
  margin-left:    0.250em;
}
h1 + h1 {
  margin-top:  -0.4375em;
  margin-left:  0.5625em;
  font-size:    1.3125em;
  font-style:   italic;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   normal;
  font-weight:  700;
  font-size:    1.250em;
  line-height:  1.250;
  margin:       0.9375em 0 0.750em 0;
}
h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   italic;
  font-weight:  700;
  font-size:    1.125em;
  line-height:  1.250;
  margin:       0.9375em 0 0.5625em 0;
}
h4 {
  font-family: 'Merriweather Sans', sans-serif;
  font-style:   italic;
  font-weight:  300;
  font-size:    0.90625em;
}
h5, h6, b, strong, caption {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
  height: inherit;
}
p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
  font-size:    1.0625em;
  line-height:  1.3125em;
}
div p {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight:  300;
}
.digression p {
  font-size: 0.90625em;
}
main {
  background-color: #cdc6e1;
  border-radius: 0.25em 0.25em 0px 0px;
  padding-bottom: 0.3125em;
  height: inherit;
}
article {
  background-color: #f5f3f9;
  border-radius: 0.250em;
  height: auto;
}
section {
  background-color: #f5f3f9;
  border-radius: 0.125em;
  overflow: hidden;
  width: 100%;
}
nav {
  background-color: #cdc6e1;
  border-radius:  0 0 0.25em 0.25em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
a {
  color: #713d8a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover.button {
  text-decoration: none;
}
span.expansion {
  display: none;
}
span.show-expansion {
  display: inline;
}
.showgloss {
  display: inline;
  vertical-align: super;
  font-size: 0.75em;
  line-height: 0.75em;
}
.gloss {
  display: none;
  font-size: small;
  vertical-align: middle;
}
.gloss a {
  color: initial;
}
.gloss  a:hover{
  text-decoration: none;
}

#top-frame {
  position:       fixed;
  width:          100%;
  top:            0;
  left:           0;
  border-style:   solid;
  border-color:   #7160a2;
  border-width:   0.750em 0.625em 0 0.625em;
  border-radius:  0.875em 0.875em 0 0 / 1.000em 0.875em 0 0;
  height:         0.875em;
  margin-top:    -0.125em;
}
#base-frame {
  position:       fixed;
  width:          100%;
  bottom:         0;
  left:           0;
  border-style:   solid;
  border-color:   #7160a2;
  border-width:   0 0.625em 0.750em 0.625em;
  border-radius:  0 0 0.875em 0.875em / 0 0 0.875em 1.000em;
  height:         0.875em;
  margin-bottom: -0.125em;
}

/********************************[ default layout ]**/
body  {
  margin: 0.0625em;
}
body.navframe {
  margin:  0;
  padding: 0;
  border-width: 0;
}
.navframe main {
  padding: 0;
  margin:  0;
  max-width: none;
}
article {
  padding: 0.3125em;
}
.navframe article {
  background-color: #cdc6e1;
  padding: 0.0625em;
  padding-bottom: 0.625em;
  text-align: center;
}
section.digression {
  padding-left:  1.1875em;
  margin-bottom: 1.1875em;
}
section > section {
  display: inline;
}
nav {
  padding:  0.3125em 0 0.625em 0;;
  height: auto;
}
nav object {
  width: 100%;
}
.before {display: inline-block;}
.after  {display: none;}
p {
  margin: 0.250em 0.125em 0.500em 0.250em;
  padding: 0.250em 0 0.250em 0;
  max-width: 48em;
}
div p {
  font-size:    0.625em;
}
ul, ol {
  list-style-position: inside;
  margin:  0.125em 0.1250em 0.125em 0.25em;
  padding: 0.125em 0.1875em 0.125em 0.3125em;
}
li {
  list-style: inherit;
  margin: 0.125em  0  0.125em 0.5em;
}
li {
  max-width: 37.5em;
  margin: 0.375em 0.125em 0.500em 1.375em;
  /* increase left by 1.375 em */
  text-indent: -1.375em;
  /* for hacky hanging indents */
}
table {
  min-width: 14em;
  border-collapse: collapse;
  margin: 0.750em 0 1em 1.825%;
}
thead th {
  padding: 0.4em;
  font-size: 1em;
  color: #faf9fc;
  background-color: #5a4c83;
  border: 1px solid #4f4373;
}
tbody td {
  vertical-align: middle;
  text-align: center;
  font-size: 0.9325em;
  background-color: #ebe8f3;
  border: 1px solid #4f4373;
  color: #5a4c83;
  padding: 0.6em;
}
tbody tr:nth-child(odd) td {
  background-color: #cdc6e1;
}
td + td,
th + th {
  text-align: center;
}
img {
  max-width:  100%;
  height:     auto;
}
.trigraph {
  width:  32.125%;
  height: auto;
}
.maths {
  display:  block;
  margin:   0.125em;
  height:   3.250em;
}
.maths img {
  display: block;
  margin: 0.125em auto;
  height: 100%;
}
.w605,
.w1008,
.w1008,
.w1536,
.w1440,
.w2048,
.w3072 {
  background-color: #ffffff;
  border-style:     solid;
  border-radius:    0.250em;
  border-width:     0.125em;
  border-color:     #7160A2;
  display:          block;
  width:      98.75%;
  max-width:  12em;
  float:      none;
  margin:     0.1875em auto;
  padding:    0.1250em;
}
.w1440,
.w2048,
.w3072  {
  max-width: 24.625em;
}
.button {
  background-color: #C5CCE0;
  border-style:     solid;
  border-radius:    0.1875em;
  border-width:     0.0625em;
  border-color:     #43568B;
  display:          block;
  width:      10.3125%;
  max-width:  2.0625em;
  float:      right;
  margin:     0.0625em;
  padding:    0;
}
object.nav {
  display:  block;
  clear:    both;
  width:    96.875%;         /* 96.875% + margin = 100% */
  height:   25.9375em;
  border-width:  0;
  border-radius: 0.1875em;
}
#top-frame,
#base-frame {
  display: none;
}
.framejump {
  pointer-events: none;
  cursor: text;
  color: inherit;
  text-decoration: none;
}
div.destination {
  display: inline-block;
  background-color: #E3EEFC;
  border-radius:    0.250em;
  border-style:     solid;
  border-color:     #9DC4F6;
  border-width:     0.125em;
  color:      black;
  overflow:   hidden;
  width:      100%;
  max-width:  9em;
  height:     4.625em;
  margin:     0.125em 0 0 0;
}
.destination p {
  font-size: 0.6875em;
  text-align: left;
}
.icon {
  display:    inline;
  float:      left;
  width:      31.25%;
  max-width:  3.625em;
  background-color: ghostwhite;
  border-style: solid;
  border-color: #36399E;
  border-width: 0.0625em;
  margin:     0.1250em 0.5625em 0.1250em 0.1250em ;
  padding:    0.0625em;
}
.destination .icon {
  margin-right: 0.4375em;
}
.icon img {
  height: 100%;
}
/********************************[ 25 em < screen ]**/
@media all and (min-width: 25em) {
  body  {
    margin: 0.625em 2.5% 0.625em 0.625em;
  }
  article {
    padding: 0.3125em 0.3125em 0.3125em 7.8125%;
    max-width: 64em;
  }
  .navframe article {
    padding: 0;
    text-align: center;
    max-width: none;
  }
  .before {display: none;}
  .after  {display: inline;}
  div p {
    font-size:    0.875em;
  }
  ul, ol {
    margin:  0.125em 0.125em 0.125em 0.625em;
    padding: 0.125em 0.7500% 0.125em 6.25%;
  }
  .maths {
    height:   3.9375em;
  }
  .w1008,
  .w1536,
  .w1440,
  .w2048,
  .w3072 {
    float:    right;
    clear:    right;
    margin:   0.625em 0.0625em 0.625em 1.4125em;
    padding:  0.125em;
  }
  .w1440,
  .w3072  {
    float:    none;
    clear:    both;
    margin:   0.1875em;
    padding:  0.1250em;
  }
  .left,
  .w1536 {
    float:    left;
    clear:    left;
    margin:   0.625em 1.4125em 0.625em 0.625em;
    padding:  0.125em;
  }
  .w605-l {
    width:     25.0%;
    max-width: 11.375em;
  }
  .w1008 {
    width:     31.25%;
    max-width: 20.0em;
  }
  .w1536 {
    width:     46.875%;
    max-width: 30.0em;
  }
  .w1440 {
    width:     58.8750%;
    max-width: 49.1875em;
  }
  .w2048 {
    width:     59.8175%;
    max-width: 50em;
  }
  .w3072 {
    width:     89.7500%;
    max-width: 75em;
  }
  div.destination {
    display:    inline-block;
    margin:     0.1875em;
    padding:    0.1250em;
    padding-bottom: 0.375em;
    border-color:   #9DC4F6;
  }
  div.icon {
    width:      reset;
    height:     100%;
    max-width:  3.625em;
    max-height: 8em;
  }
}
/********************************[ 32 em < screen ]**/
@media all and (min-width: 32em) {
  object.nav {
    height: 15.9375em;
  }
}
/********************************[ 40 em < screen ]**/
@media all and (min-width: 40em) {
  body  {
    margin: 0.625em 1em 0.625em 0;
    border-style:   solid;
    border-color:   #7160a2;
    border-width:   0 0 0 0.625em;
  }
  body.navframe {
    margin: 0;
  }
  article {
    padding: 0.3125em 0.5625em 0.3125em 1.1875em;
  }
  section {
    overflow: visible;
  }
  ul, ol {
    padding: 0.125em 0.300em 0.125em 2.500em;
  }
  .maths {
    height:   4.3125em;
  }
  .w605-l {
    width:     18.75%;
    max-width: 11.375em;
  }
  .left,
  .w1440,
  .w3072  {
    float: right;
    clear: right;
  }
  div[class^="w"] {
    display:    block;
    width:      45%;
    text-align: center;
    margin-right: -49.375%;
  }
  .trigraph {
    width:      98.75%;
    max-width:  12.5em;
  }
  #tri-alphas {
    margin-top: -22em;
  }
  .w605,
  .w1008 {
    max-width: 25em;
  }
  main {
    padding-right: 31.25%;
    padding-left:   0.3125em;
  }
  object.nav {
    float: left;
  }
  #top-frame,
  #base-frame {
    display: block;
  }
}
/********************************[ 56.75 em < screen ]**/
@media all and (min-width: 56.75em) {
  body {
    background-color: #CDC6E1;
    border-radius: 0.250em;
  }
  body.navframe {
    padding: 0;
  }
  main {
    margin-left: 1.375%;
    padding-left: 0;
  }
  div[class^="w"] {
    margin-right:  -50.75%;    /* 49.375 + 1.375 = 50.75 */
  }
  article,
  object.nav {
    margin-left: 3.125%;
    max-width: 40.125em;
  }
  article {
    padding: 0.3125em 1.3125em 0.3125em 3.9375%;
  }
  object.nav {
    padding: 0;
  }
  .navframe article {
    padding: 0.3125em;
    margin: 0;
    max-width: reset;
  }
}
/********************************[ 63.50 em < screen ]**/
@media all and (min-width: 63.50em) {
  body {
    max-width: 70em;
  }
  div[class^="w"] {
    margin-right: -29.3125vw;
  }
}
